<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	 <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    	<param name="Target" value="System.out" />
    	<layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{ISO8601}] %-5p %c:%L %m %n" />
        </layout>
    </appender>

	<logger name="org.apache.spark"><level value="warn"/></logger>
	<logger name="org.spark_project"><level value="warn"/></logger>
	<logger name="org.sparkproject.jetty.server.handler.ContextHandler"><level value="warn"/></logger>
	<logger name="org.sparkproject.jetty.server"><level value="warn"/></logger>
	<logger name="org.apache.parquet"><level value="warn"/></logger>
	<logger name="org.apache.hadoop"><level value="warn"/></logger>
	<!-- To display bound ports -->
	<logger name="org.apache.spark.util.Utils"><level value="info"/></logger>

	<logger name="gha2spark"><level value="debug"/></logger>
    <root>
        <level value="info" />
    	<appender-ref ref="STDOUT" />
	</root>
	
</log4j:configuration>

 